$color-bg: #ffffff
$color-shadow: rgba(0, 0, 0, 0.16)
$shadow-sm: 0 1px 4px -2px $color-shadow

.layout
	max-width: 108rem
	height: 100%

	margin: 4rem auto

	border-radius: 3px
	background-color: $color-bg
	box-shadow: $shadow-sm

	overflow: hidden


