.msgWrapper
    background-color: #f5f5f5
    padding: 20px
    padding-bottom: 0px
.msg
    padding: 5px
    border: 1px solid lightgray
    border-radius: 5px
    background-color: white

    .header
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid lightblue

    .title
        padding: 7px
        text-transform: capitalize
        color: dimgray

    .action
        width: 62px
        display: flex
        justify-content: space-between

    .content
        padding: 10px
        font-size: 13px
        color: grey