.btn
	padding: 0.8rem 2.4rem
	border-radius: 3px
	border: none

	display: flex
	align-items: center
	justify-content: center

	font-weight: 500
	font-size: 1.4rem
	text-transform: capitalize

	background-color: $accent-2
	cursor: pointer

	@include easing
	&__margin
		margin: 0px 10px

	&__primary
		background-color: $color-success
		color: $color-bg
		box-shadow: $shadow-nm

		&:hover,
		&:focus
			background-color: rgba($color-success, 0.9)
			box-shadow: $shadow-md



	&__compact
		padding: 0.4rem


	&__icon
		& > svg
			margin-left: -0.8rem
			margin-right: 0.8rem

		@include media(425px)
			& > svg
				margin: 0

			& > span
				display: none


	&__cancel
		&:hover,
		&:focus
			color: $color-error


	&__delete
		color: $color-error

		&:hover
			color: $color-bg
			background-color: $color-error
	&__edit
		color: $color-warning

		&:hover
			color: $color-bg
			background-color: $color-warning
