.layout 
	max-width: 108rem
	height: 100%

	margin: 4rem auto

	border-radius: 3px
	background-color: $color-bg
	box-shadow: $shadow-sm

	overflow: hidden

	@include media(768px) 
		margin: 0
		max-width: 100%
	

