.paginationWrapper
    display: flex
    justify-content: flex-end
    border-top: 1px solid lightgrey
    padding: 10px
    font-size: 10px

.pagination
    display: flex
    align-items: center

.text
    margin: 0px 10px
